server:
  port: 8091

spring:
  application:
    name: plazoleta-ms-plazoleta

  datasource:
    #url: jdbc:postgresql://localhost:5432/nombre_db
    #username: usuariodb
    #password: contradb
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

jwt:
  secret: ${JWT_SECRET:12345678901234567890123456789012}

feign:
  client:
    config:
      user-service:
        url: http://localhost:8080
        connect-timeout: 5000
        read-timeout: 5000